 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) {
   /* banner */
   .banner-section{
    flex-direction: column;
   }
   .banner-rating{
    padding: 10px 0;
   }
   .banner-text{
    align-items: center;
   }
   .banner-h1{
    font-size: 70px;
   }

  }
  /* grid-flex-box */
  .grid-flex-box{
    flex-direction: column;
  }
  /* grid-flex-box */
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* banner */
    .banner-section{
        flex-direction: column;
       }
       .banner-rating{
        flex-wrap: wrap;
        padding: 10px 0;
       }
       
       .banner-text{
        align-items: center;
       }
       
  }
  /* grid-flex-box */
  .grid-flex-box{
    
  }
  /* grid-flex-box */
  
   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* banner */
  .banner-h1{
        font-size: 60px;
        line-height: normal;
       }

       .banner-rating{
        width: 50%;
        padding: 10px 0;
       }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* banner */
    .banner-h1{
        font-size: 60px;
        line-height: normal;
       }
    .banner-rating{
        /* flex-wrap: wrap; */
        min-width: 50%;
       }
  }
  
   /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width:1399.98px){
      /* banner */
      .banner-rating{
        /* flex-wrap: wrap; */
        min-width: 50%;
       }
  }
   /* Extra Extra large devices (large desktops, 1400px and up) */
  @media (min-width: 1400px) {
      
  }